# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
.env/

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VS Code
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data artifacts
/data/raw/
/data/processed/
/reports/figures/

# Logs
logs/
*.log

# dotenv files
config/.env

# Graphviz outputs
*.gv
*.svg

# Temporary files
*.tmp
*.temp

# macOS metadata
*.swp
